<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Resource/style.css">
    <link rel="stylesheet" href="/Resource/blogstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header id="header-id" >
        <h1 style="position: relative">Trung's blog</h1>
    </header>
</head>
<body>
<h1>ERROR 404</h1>
<p>
    <a href="/">Back to customer list</a>
</p>
<footer id="footer-id">
    <div class="contact">
        <a href="https://www.facebook.com/trungnguyenlk16" class="fa fa-facebook contact-box"></a>
        <a href="https://github.com/trunglk16" class="fa fa-github contact-box"></a>
        <a href="https://plus.google.com/+TrungNguy%E1%BB%85nLk16" class="fa fa-google-plus contact-box"></a>
        <a href="https://www.linkedin.com/in/trung-nguyen-50533b163/" class="fa fa-linkedin contact-box"></a>
    </div>
    <p>Project by &copy;<a href="">TrungNT</a></p>
</footer>
</body>
</html>