<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Resource/style.css">
    <link rel="stylesheet" href="/Resource/blogstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header id="header-id" >
        <h1 style="position: relative">Trung's blog</h1>
        <a href="/create-news"><h3>Create news</h3></a>

    </header>
</head>
<body>

<main>

    <div style="margin-top: 10px;margin-bottom: 20px">

        <div id="section-2">
            <th:block th:each="b : ${blog}">
                <!--<div style="width: 100%;margin-top: 5px;border-bottom: 1px solid whitesmoke;padding-bottom: 6px">-->
                <div class="post">
                    <img src="https://cdnb.artstation.com/p/assets/images/images/011/902/733/large/th-trung-nguy-n-shiba.jpg?1532009523">
                    <a th:href="@{/view-blog/__${b.id}__ }" th:text="${b.tittle}"></a>
                    <p width="20%" th:text="${b.date}"></p>
                </div>
                <!--</div>-->
            </th:block>
        </div>
        <div>
            <a th:href="@{'/'(page=${blog.number - 1})}" th:if="${blog.hasPrevious()}">Previous</a>
            <span th:text="${blog.number + 1}"></span>/<span th:text="${blog.totalPages}"></span>
            <a th:href="@{'/'(page=${blog.number + 1})}" th:if="${blog.hasNext()}">Next</a>
        </div>

    </div>
</main>
<footer id="footer-id">
    <div class="contact">
        <a href="https://www.facebook.com/trungnguyenlk16" class="fa fa-facebook contact-box"></a>
        <a href="https://github.com/trunglk16" class="fa fa-github contact-box"></a>
        <a href="https://plus.google.com/+TrungNguy%E1%BB%85nLk16" class="fa fa-google-plus contact-box"></a>
        <span class="fa fa-linkedin contact-box"></span>
    </div>
    <p>Project by &copy;<a href="">HyHy</a></p>
</footer>
</body>
</html>