<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Resource/style.css">
    <link rel="stylesheet" href="/Resource/blogstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header id="header-id" >
        <h1 style="position: relative">Trung's blog</h1>
    </header>
</head>
<body>
<h2 style="position: relative;left: 40%">Create a news</h2>

<main class="page-content" aria-label="Content" style="left: 30%; position: relative">
    <a href="/"><h3>Back to index</h3></a>
    <div style="margin-top: 10px;margin-bottom: 20px">
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
        <form th:action="@{/create-news}" th:object="${blog}" method="post">
            <table>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" th:field="*{tittle}"/></td>
                    <td th:if="${#fields.hasErrors('tittle')}" th:errors="*{tittle}"></td>
                </tr>
                <tr>
                    <td>Content:</td>
                    <td><textarea type="text" th:field="*{content}"/></td>
                    <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td><input type="date" th:field="*{date}"/></td>
                    <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Create customer"></td>
                </tr>
            </table>
        </form>
    </div>
</main>
<footer id="footer-id">
    <div class="contact">
        <a href="https://www.facebook.com/trungnguyenlk16" class="fa fa-facebook contact-box"></a>
        <a href="https://github.com/trunglk16" class="fa fa-github contact-box"></a>
        <a href="https://plus.google.com/+TrungNguy%E1%BB%85nLk16" class="fa fa-google-plus contact-box"></a>
        <a href="https://www.linkedin.com/in/trung-nguyen-50533b163/" class="fa fa-linkedin contact-box"></a>
    </div>
    <p>Project by &copy;<a href="">TrungNT</a></p>
</footer>
</body>
</html>