<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Resource/style.css">
    <link rel="stylesheet" href="/Resource/blogstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header id="header-id">
        <h1 style="position: relative">Trung's blog</h1>
    </header>
</head>
<body>
<h2 style="position: relative;left: 40%" th:text="${blog.tittle}"></h2>


<main class="page-content" aria-label="Content" style="left: 10%; position: relative">
    <a href="/"><h3>Back to index</h3></a>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>

    <div style="margin-top: 10px;margin-bottom: 20px">

        <form th:object="${blog}">
            <input type="hidden" name="id" th:field="*{id}">
            <p th:text="${blog.date}"></p>
            <p th:text="${blog.content}"></p>
        </form>

        <a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a>
        <a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a>

    </div>
</main>
<footer id="footer-id">
    <div class="contact">
        <a href="https://www.facebook.com/trungnguyenlk16" class="fa fa-facebook contact-box"></a>
        <a href="https://github.com/trunglk16" class="fa fa-github contact-box"></a>
        <a href="https://plus.google.com/+TrungNguy%E1%BB%85nLk16" class="fa fa-google-plus contact-box"></a>
        <a href="https://www.linkedin.com/in/trung-nguyen-50533b163/" class="fa fa-linkedin contact-box"></a>
    </div>
    <p>Project by &copy;<a href="">TrungNT</a></p>
</footer>
</body>
</html>